body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav ul li{
    display: inline;
    margin-right: 20px;
}

.nav a{
    text-decoration: none;
    color: rgb(73, 129, 175);
}

hr{
    background-color: #e0dada;
    height: 40px;
}

.firstsection{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.teste{
    background-color: rgb(101, 151, 192);
    padding: 10px;
    width: 30%;
    color: #fff;
}

button{
    background-color: #d46204;
    border: none;
    padding: 10px;
    width: 100%;
}

button a{
    text-decoration: none;
    color: #000;
}

.image{
    width: 70%;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.notices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
    gap: 10px;
}

.imagenotice{
    background-color: #000;
    color: #fff;
    height: 150px;
    text-align: center;
}

.notice{
    margin-bottom: 30px;
}

.notice a{
    color: #d46204;
    text-decoration: none;
}

@media (max-width: 768px) {
    .notices {
        flex-direction: column;
    }
}