body{
    font-family: "Spline Sans", sans-serif;
    margin: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

#topo{
    background: #191919;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

.logo{
    color: #ad58eb;
    font-weight: bold;
    font-size: 42px;
    letter-spacing: -1;
    float: left;
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    list-style: none;
    padding: 5px 15px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
}

.menu a:hover{
    color: #ad58eb;
}

#principal{
    margin-top: 40px;
    overflow: hidden;
}

.coluna{
    width: 16%;
    float: left;
    background: #191919;
    border: solid 1px #000;
    border-radius: 10px;
    color: #ad58eb;
    text-align: center;
    font-size: 48px;
    padding: 20px 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.offcanvas{
    display: none;
    float: right;
    padding-top: 15px;
}

.offcanvas a{
    color: #fff;
    text-decoration: none;
    display: block;
    width: 10px;
    height: 20px;
    border-bottom: solid 2px #fff;
    position: relative;
    transition: all .2s linear;
}

.offcanvas a::after{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.offcanvas a::before{
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 0;
}

.offcanvas a:hover{
    width: 20px;
}

.mascara{
    /* display: none; */
    /* width: 250px; */
    height: 100vh;
    background: #191919;
    position: fixed;
    top: 0;
    right: 0;
    border-left: solid 1px #fff;
    padding: 20px;
    /* Transitions */
    opacity: 0;
    /* z-index: -1; */
    transition: all 0.2s ease;
    width: 0;
    overflow: hidden;
}

/* Abre o menu ao clicar em um link com ID*/
#abrir:target{
    display: block;
    opacity: 1;
    z-index: 999;
    width: 250px;
}

.mascara ul{
    text-align: center;
    padding: 0;
    list-style: none;
}

.mascara li{
    border-bottom: dashed 1px #f7f7f7;
    font-size: 18px;
    padding: 20px 10px;
}

.mascara li a{
    color: #f7f7f7;
    text-decoration: none;
}

.mascara li a:hover{
    color: #ad58eb;
    transition: .3s;
}

.fechar a{
    color: red;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 40px;
    text-align: center;
    margin-left: auto;
}

.fechar a:hover{
    transform: rotate(180deg);
    transition: all 0.3s linear;
}

.fechar{
    text-align: right;
    padding: 32px 25px;
}

@media (max-width: 720px){
    .menu{
        display: none;
    }
    .coluna{
        width: 33%;
    }
    .offcanvas{
        display: block;
    }
}

@media (max-width: 596px){
    .coluna{
        width: 50%;
    }
}

@media (max-width: 412px){
    .coluna{
        width: 100%;
    }
}



